/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.inline-icon {
    vertical-align: middle;
    height: 25px;
}

.new-project-button {
    color: white;
    background-color: purple;
    padding: 5px;
    border-radius: 3px;
}

.extensions-button {
    color: darkgray;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
}

.centered-image {
    text-align: center;
}